block content
    div#alert-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4#alert-modal-title.modal-title
                div#alert-modal-body.modal-body
                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") Close