extends layout

block content
    div#parent-visualization-container.container.bg-white
        //row for the separation of the
        div.row
            //for navigation menu
            div.col-3
                h3 Select Map Parameters
                div.form-group
                    label(for="yearSelectForScatsEpa") Select Year:
                    select#yearSelectForScatsEpa.form-control.custom-select
                        option(selected=true value="selectYear") Select Year
                        option(value="2014") 2014
                        option(value="2015") 2015
                        option(value="2016") 2016
                        option(value="2017") 2017
                        option(value="2018") 2018

                div.form-group
                    button#submitOptionsForScatsEpa.btn-info.btn-lg Set Parameters
            //for visualization area
            div.col-9
                div#scatsEpaMapid
        div#charts-container.container
            div.row.d-flex.justify-content-center
                h4 Visualization Charts
            div.row
                div.col-6
                    div#coChartView
                div.col-6
                    div#no2ChartView

    //for error and validation
    div#alert-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4#alert-modal-title.modal-title.left
                div#alert-modal-body.modal-body
                div.modal-footer
                    button.btn.btn-primary(type="button" data-dismiss="modal") Close