extends layout

block content
    div#parent-visualization-container.container.bg-white
        //row for the separation of the
        div.row
            //for navigation menu
            div.col-3
                h3 Select Map Parameters
                div.form-group
                    label(for="yearSelect") Select Year:
                    select#yearSelect.form-control.custom-select
                        option(selected=true value="selectYear") Select Year
                        option(value="2015") 2015
                        option(value="2016") 2016
                        option(value="2017") 2017
                        option(value="2018") 2018
                div.form-group
                    label(for="monitorSelect") Select Monitor Ids:
                    select#monitorSelect.form-control
                        option(value="selectMonitor") Select Monitor Ids
                div.form-group
                    label(for="epaStationSelect") Select EPA Station:
                    select#epaStationSelect.form-control
                        option(value="selectEPAStation")
                div.form-group
                    button#submitOptionsForScats.btn-info.btn-lg Set Parameters
            //for visualization area
            div.col-9
                div#scatsEpaMapid
        div.row
            div.col-3
            div.col-9

    //for error and validation
    div#alert-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4#alert-modal-title.modal-title.left
                div#alert-modal-body.modal-body
                div.modal-footer
                    button.btn.btn-primary(type="button" data-dismiss="modal") Close