extends layout

block content
    div#parent-visualization-container.bg-white
        div#scatsEpaMapid
        div#charts-container.container
            div.row.justify-content-center
                h4#chartTitle
            div.row
                div#particleConcChartView
            div.row
                div#AqiWindScatsChartView
            div.row
                div.col-6
                    div#scatsTrendChartView
                div.col-6
                    div#epaAqitrendChartView
            div.row
                div.col-6
                    div#ScatsPerTimeChartView
                div.col-6
                    div#AqiPerTimeChartView

            ddiv.row.d-flex.justify-content-center
                button#moveToTop.btn-primary.btn-med.scrollTopButton View Map
                button#goToHome.btn-primary.btn-med Home page

    //for error and validation
    div#alert-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h4#alert-modal-title.modal-title.left
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                div#alert-modal-body.modal-body
                div.modal-footer
                    button.btn.btn-primary(type="button" data-dismiss="modal") Close

    div.modal.loadingIcon