extends layout

block content
    div#parent-visualization-container.container.bg-white
        //row for the separation of the charts and map container
        div.row
            //for navigation menu
            div.col-3
                    h3 Select Parameters
                    div#substanceContainer.form-group
                        label(for="substanceSelect") Select Substance:
                        select#substanceSelect.form-control
                            option(value="selectSubstance") Select Substance
                            //option(value="selectSubstance")
                    div.form-group
                        label(for="regionSelect") Select Chart Region:
                        select#regionSelect.form-control
                            option(value="selectRegion")
                    div.form-group
                        label(for="yearSelect") Select Year:
                        select#yearSelect.form-control.custom-select
                            option(selected=true value="selectYear") Select Year
                            option(value="2015") 2015
                            option(value="2016") 2016
                            option(value="2017") 2017
                            option(value="2018") 2018
                    div#choroplethContainer.form-group
                        label(for="heatMapSelector") Select map choropleth parameter:
                        select#heatMapSelector.form-control
                            //option(value="selectChoropleth") Select parameter
                    div#showBusinessContainer.form-group
                        label.form-check-label(for="showBusinessOption") Show Businesses:
                        input#showBusinessOption.form-check-input.business-checkbox(type="checkbox" value="no")
                    div#searchContainer.form-group
                        label.form-check-label(for="showBusinessOption") Enable Search:
                        input#searchOption.form-check-input.business-checkbox(type="checkbox" value="no")
                    div.form-group
                        button#submitOptions.btn-info.btn-lg Set Parameters
            //for visualization area
            div.col-9
                div#mapid
        div.container
            div.row
                div.col-3
                div.col-9
                    div.d-inline
                        h6 Selected Region:
                        span#selectedRegionText
                    div.d-inline
                        h6 Selected Substance:
                        span#selectedSubstanceText
            div.row
                div.col-6
                    div#trendsChart
    //for error and validation
    div#alert-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4#alert-modal-title.modal-title.left
                div#alert-modal-body.modal-body
                div.modal-footer
                    button.btn.btn-primary(type="button" data-dismiss="modal") Close