extends layout

block content
    div#parent-visualization-container.container.bg-white
        //row for the separation of the charts and map container
        div.row
            //for navigation menu
            div.col-3
                    h3 Select Parameters
                    div#substanceContainer.form-group
                        label(for="substanceSelect") Select Substance:
                        select#substanceSelect.form-control
                            option(value="selectSubstance") Select Substance
                            //option(value="selectSubstance")
                    div#regionContainer.form-group
                        label(for="regionSelect") Select Chart Region:
                        select#regionSelect.form-control
                            option(value="selectRegion")
                    div.form-group
                        label(for="yearSelect") Select Year:
                        select#yearSelect.form-control.custom-select
                            option(selected=true value="selectYear") Select Year
                            option(value="2015") 2015
                            option(value="2016") 2016
                            option(value="2017") 2017
                            option(value="2018") 2018
                    div#choroplethContainer.form-group
                        label(for="heatMapSelector") Select map choropleth parameter:
                        select#heatMapSelector.form-control
                            //option(value="selectChoropleth") Select parameter
                    div#showBusinessContainer.form-group
                        label.form-check-label(for="showBusinessOption") Show Businesses:
                        input#showBusinessOption.form-check-input.business-checkbox(type="checkbox" value="no")
                    div#searchContainer.form-group
                        label.form-check-label(for="showBusinessOption") Enable Search:
                        input#searchOption.form-check-input.business-checkbox(type="checkbox" value="no")
                    div.form-group
                        button#submitOptions.btn-info.btn-lg Set Parameters
            //for visualization area
            div.col-9
                div#mapid
        div#charts-container.container
            div.row.d-flex.justify-content-center
                h4 Visualization Charts
                button#moveToTop.btn-primary.btn-med.scrollTopButton View Map
            div.row
                div.col-4
                    div#regionStatsContainer.container
                        div.d-flex.justify-content-center
                            h5 Region Statistics
                        div#statsSection
                            div.row
                                div.d-inline
                                    h6 Region Name:
                                div.d-inline.statsText
                                    span#selectedRegionText
                            div.row
                                div.d-inline
                                    h6 Selected Substance:
                                div.d-inline.statsText
                                    span#selectedSubstanceText
                                div.d-inline
                                    h6 Total Emission (in Kg):
                                div.d-inline.statsText
                                    span#totalEmissionText
                                div.d-inline
                                    h6 Number of businesses in region:
                                div.d-inline.statsText
                                    span#totalBusinessText
                                div#statsChoroplethContainer1
                                    div.d-inline
                                        h6 Highest emission quantity (Victoria):
                                    div.d-inline.statsText
                                        span#highestEmissionText
                                    div.d-inline
                                        h6 Lowest emission quantity (Victoria):
                                    div.d-inline.statsText
                                        span#lowestEmissionText
                                div#statsChoroplethContainer2
                                    div.d-inline
                                        h6 Lowest respiratory cases (Victoria):
                                    div.d-inline.statsText
                                        span#lowestAdmissionText
                                    div.d-inline
                                        h6 Highest respiratory cases (Victoria):
                                    div.d-inline.statsText
                                        span#highestAdmissionText
                                div.d-inline
                                    h6 Positive Correlations (%):
                                div.d-inline.statsText
                                    span#positiveCorrelationText
                                div.d-inline
                                    h6 Negative Correlations (%):
                                div.d-inline.statsText
                                    span#negativeCorrelationText

                div#trendsChart

            div.row
                div#businessPieChart

    //for error and validation
    div#alert-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                    h4#alert-modal-title.modal-title.left
                div#alert-modal-body.modal-body
                div.modal-footer
                    button.btn.btn-primary(type="button" data-dismiss="modal") Close