.App {
  text-align: center;
}

.header{
  font-weight:bold;
  color: black;
}

body{
  /*height: 100%;*/
  /*width: 100%;*/
  background: url("https://cdn.newsapi.com.au/image/v1/71707d70da0b37f5c7f3187d03d37596?width=650") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


